*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#050505;
    color:white;
}

/* NAVBAR */

.navbar{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#090909;
    border-bottom:1px solid #222;
}

.logo img{
    width:70px;
}

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.nav-links a:hover{
    color:#00aaff;
}


/* HERO */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)),
    url("background.png");
    background-size:cover;
}
.hero-logo{
    width:220px;
    animation: float 3s ease-in-out infinite;
}


@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }

}
}


@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }

}
}


.hero h1{
    font-size:70px;
    font-weight:900;
    color:#00aaff;
    text-shadow:0 0 20px #00aaff;
}


.hero p{
    font-size:22px;
    margin:15px;
}


.buttons button{
    margin:10px;
    padding:15px 25px;
    border:none;
    border-radius:30px;
    background:#00aaff;
    color:white;
    font-size:16px;
    cursor:pointer;
}


.buttons button:hover{
    background:#0077ff;
}


/* SECTIONS */

section{
    padding:70px 8%;
    text-align:center;
}


h2{
    font-size:40px;
    margin-bottom:40px;
}


/* CARDS */


.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}


.card{
    background:#111;
    padding:30px;
    border-radius:15px;
    border:1px solid #222;
    transition:.3s;
}


.card:hover{
    transform:translateY(-10px);
    border-color:#00aaff;
}


/* FEATURES */

.feature-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}


.feature{
    background:#111;
    padding:30px;
    border-radius:15px;
    font-size:40px;
}


.feature h3{
    font-size:20px;
}


/* COMMUNITY */

.community-buttons a{
    display:inline-block;
    margin:10px;
    padding:15px 25px;
    background:#111;
    color:white;
    text-decoration:none;
    border-radius:30px;
    border:1px solid #333;
}


.community-buttons a:hover{
    background:#00aaff;
}


/* FOOTER */

footer{
    padding:40px;
    text-align:center;
    background:#090909;
    border-top:1px solid #222;
}


footer h2{
    color:#00aaff;
}
